# Validation rules

Currently is available that rules:

<table class="iksweb">
	<tbody>
		<tr>
			<td>Rule</td>
			<td>Description</td>
			<td colspan="3">Parameters</td>
		</tr>
{% for rule in rules %}
<tr>
<td colspan="2" rowspan="{{ max(rule.params.count, 1) }}">{{ rule.name }}</td>
{% if rule.params.isEmpty %}
<td></td>
<td></td>
<td></td>
{% else %}
<td>{{ rule.params.first.name }}</td>
<td>{{ rule.params.first.description }}</td>
<td>{{ rule.params.first.type }}</td>
{% endif %}
</tr>
{% for param in rule.params.skip(1) %}
<tr>
    <td>{{ param.name }}</td>
    <td>{{ param.description }}</td>
    <td>{{ param.type }}</td>
</tr>
{% endfor %}
{% endfor %}
</tbody>
</table>
